app/cache/*
app/logs/*
app/sessions/*
app/documents/*
app/phpunit.xml
/.settings
/.buildpath
/.project
/.idea
app/bootstrap.php.cache
atlassian-ide-plugin.xml
phpunit.phar
composer.phar
composer.lock
phpunit.phar
/vendor
build/
/cov
/web/assets/
/web/bundles
/web/css
/web/js
/web/uploads/users/*
/web/media/cache
/web/uploads
/web/build.js
/app/config/parameters.yml
/app/config/parameters_test.yml
/app/phpunit.xml
/backups
/components
/behat
/behat225
/web/assets/js
/web/assets/css
/node_modules
*~

/app/SymfonyRequirements.php

# Common IDEs
.tern-project
*.swp
.vimrc

# utilities files
*.patch
.editorconfig

