@define-mixin small-text {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
}

@define-mixin regular-text {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
}

@define-mixin bold-text {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}
